* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
}

h1 {
	font-size: 30px;
	font-variant: small-caps;
}

.header {
	text-align: center;
}