{% extends "layout.html" %}
{% set active_page = "entries" %}

{% block title %}
    Add Your Entry
{% endblock %}

{% block content %}

	<div class="page-body section1">

		<form action="/add_entry" method="post">
			


			<div class="form-group">
						<textarea class="text-input" name="journal" placeholder="Start your entry here ..." type="text" autocomplete="off" autofocus="" maxlength="1000" onkeyup="charLeft(this, 1000)"></textarea>
						<div id="charLeft">1000 characters left</div>
			</div>
			<button id="submit-button" type="submit">Submit!</button>

		</form><br>


	</div>
{% endblock %}